/FishingPoint.Web/ClientBin/*.xap
/FishingPoint.Web/bin/FishingPoint.Web.dll
/FishingPoint.Web/bin/FishingPoint.Web.pdb
/FishingPoint.Web/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/FishingPoint.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FishingPoint.Web/obj/Debug/FishingPoint.Web.Resources.RegistrationDataResources.resources
/FishingPoint.Web/obj/Debug/FishingPoint.Web.Resources.ValidationErrorResources.resources
/FishingPoint.Web/obj/Debug/FishingPoint.Web.csproj.FileListAbsolute.txt
/FishingPoint.Web/obj/Debug/FishingPoint.Web.csproj.GenerateResource.Cache
/FishingPoint.Web/obj/Debug/FishingPoint.Web.csprojResolveAssemblyReference.cache
/FishingPoint.Web/obj/Debug/FishingPoint.Web.dll
/FishingPoint.Web/obj/Debug/FishingPoint.Web.pdb
/FishingPoint.Web/obj/Debug/LiveIntellisense/Resources/FishingPoint.Web.FishingPointModel.edmx.csdl
/FishingPoint.Web/obj/Debug/LiveIntellisense/Resources/FishingPoint.Web.FishingPointModel.edmx.msl
/FishingPoint.Web/obj/Debug/LiveIntellisense/Resources/FishingPoint.Web.FishingPointModel.edmx.ssdl
/FishingPoint.Web/obj/Debug/LiveIntellisense/Resources/FishingPoint.Web.Resources.RegistrationDataResources.resources
/FishingPoint.Web/obj/Debug/LiveIntellisense/Resources/FishingPoint.Web.Resources.ValidationErrorResources.resources
/FishingPoint.Web/obj/Debug/LiveIntellisense/Sources/FishingPoint.Web.cs
/FishingPoint.Web/obj/Debug/TempPE/FishingPointModel.Designer.cs.dll
/FishingPoint.Web/obj/Debug/TempPE/Resources.RegistrationDataResources.Designer.cs.dll
/FishingPoint.Web/obj/Debug/TempPE/Resources.ValidationErrorResources.Designer.cs.dll
/FishingPoint.Web/obj/Debug/edmxResourcesToEmbed/FishingPointModel.csdl
/FishingPoint.Web/obj/Debug/edmxResourcesToEmbed/FishingPointModel.msl
/FishingPoint.Web/obj/Debug/edmxResourcesToEmbed/FishingPointModel.ssdl
/FishingPoint/Bin/Debug/AppManifest.xaml
/FishingPoint/Bin/Debug/FishingPoint.dll
/FishingPoint/Bin/Debug/FishingPoint.pdb
/FishingPoint/Bin/Debug/FishingPoint.xap
/FishingPoint/Bin/Debug/GalaSoft.MvvmLight.Extras.SL4.dll
/FishingPoint/Bin/Debug/GalaSoft.MvvmLight.Extras.SL4.xml
/FishingPoint/Bin/Debug/GalaSoft.MvvmLight.SL4.dll
/FishingPoint/Bin/Debug/GalaSoft.MvvmLight.SL4.xml
/FishingPoint/Bin/Debug/Microsoft.Maps.MapControl.Common.dll
/FishingPoint/Bin/Debug/Microsoft.Maps.MapControl.Common.xml
/FishingPoint/Bin/Debug/Microsoft.Maps.MapControl.dll
/FishingPoint/Bin/Debug/Microsoft.Maps.MapControl.xml
/FishingPoint/Bin/Debug/Microsoft.Windows.Data.DomainServices.dll
/FishingPoint/Bin/Debug/Microsoft.Windows.Data.DomainServices.xml
/FishingPoint/Bin/Debug/System.ComponentModel.DataAnnotations.dll
/FishingPoint/Bin/Debug/System.ComponentModel.DataAnnotations.xml
/FishingPoint/Bin/Debug/System.ServiceModel.DomainServices.Client.Web.dll
/FishingPoint/Bin/Debug/System.ServiceModel.DomainServices.Client.Web.xml
/FishingPoint/Bin/Debug/System.ServiceModel.DomainServices.Client.dll
/FishingPoint/Bin/Debug/System.ServiceModel.DomainServices.Client.xml
/FishingPoint/Bin/Debug/System.ServiceModel.Web.Extensions.dll
/FishingPoint/Bin/Debug/System.ServiceModel.Web.Extensions.xml
/FishingPoint/Bin/Debug/System.Windows.Controls.Data.DataForm.Toolkit.dll
/FishingPoint/Bin/Debug/System.Windows.Controls.Data.Input.dll
/FishingPoint/Bin/Debug/System.Windows.Controls.Data.Input.xml
/FishingPoint/Bin/Debug/System.Windows.Controls.Data.dll
/FishingPoint/Bin/Debug/System.Windows.Controls.Data.xml
/FishingPoint/Bin/Debug/System.Windows.Controls.Input.Toolkit.dll
/FishingPoint/Bin/Debug/System.Windows.Controls.Input.Toolkit.pdb
/FishingPoint/Bin/Debug/System.Windows.Controls.Input.Toolkit.xml
/FishingPoint/Bin/Debug/System.Windows.Controls.Input.dll
/FishingPoint/Bin/Debug/System.Windows.Controls.Input.xml
/FishingPoint/Bin/Debug/System.Windows.Controls.Navigation.dll
/FishingPoint/Bin/Debug/System.Windows.Controls.Navigation.xml
/FishingPoint/Bin/Debug/System.Windows.Controls.Toolkit.Internals.dll
/FishingPoint/Bin/Debug/System.Windows.Controls.Toolkit.dll
/FishingPoint/Bin/Debug/System.Windows.Controls.Toolkit.pdb
/FishingPoint/Bin/Debug/System.Windows.Controls.Toolkit.xml
/FishingPoint/Bin/Debug/System.Windows.Controls.dll
/FishingPoint/Bin/Debug/System.Windows.Controls.xml
/FishingPoint/Bin/Debug/System.Windows.Data.dll
/FishingPoint/Bin/Debug/System.Windows.Data.xml
/FishingPoint/Bin/Debug/System.Windows.Interactivity.dll
/FishingPoint/Bin/Debug/TestPage.html
/FishingPoint/Bin/Debug/ar/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/ar/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/ar/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/ar/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/ar/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/bg/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/bg/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/bg/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/bg/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/bg/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/ca/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/ca/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/ca/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/ca/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/ca/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/cs/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/cs/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/cs/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/cs/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/cs/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/da/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/da/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/da/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/da/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/da/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/de/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/de/System.ServiceModel.DomainServices.Client.Web.resources.dll
/FishingPoint/Bin/Debug/de/System.ServiceModel.DomainServices.Client.resources.dll
/FishingPoint/Bin/Debug/de/System.ServiceModel.Web.Extensions.resources.dll
/FishingPoint/Bin/Debug/de/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/de/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/de/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/de/System.Windows.Controls.Navigation.resources.dll
/FishingPoint/Bin/Debug/de/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/de/System.Windows.Data.resources.dll
/FishingPoint/Bin/Debug/el/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/el/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/el/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/el/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/el/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/es/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/es/System.ServiceModel.DomainServices.Client.Web.resources.dll
/FishingPoint/Bin/Debug/es/System.ServiceModel.DomainServices.Client.resources.dll
/FishingPoint/Bin/Debug/es/System.ServiceModel.Web.Extensions.resources.dll
/FishingPoint/Bin/Debug/es/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/es/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/es/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/es/System.Windows.Controls.Navigation.resources.dll
/FishingPoint/Bin/Debug/es/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/es/System.Windows.Data.resources.dll
/FishingPoint/Bin/Debug/et/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/et/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/et/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/et/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/et/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/eu/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/eu/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/eu/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/eu/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/eu/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/fi/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/fi/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/fi/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/fi/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/fi/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/fr/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/fr/System.ServiceModel.DomainServices.Client.Web.resources.dll
/FishingPoint/Bin/Debug/fr/System.ServiceModel.DomainServices.Client.resources.dll
/FishingPoint/Bin/Debug/fr/System.ServiceModel.Web.Extensions.resources.dll
/FishingPoint/Bin/Debug/fr/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/fr/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/fr/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/fr/System.Windows.Controls.Navigation.resources.dll
/FishingPoint/Bin/Debug/fr/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/fr/System.Windows.Data.resources.dll
/FishingPoint/Bin/Debug/he/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/he/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/he/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/he/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/he/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/hr/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/hr/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/hr/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/hr/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/hr/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/hu/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/hu/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/hu/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/hu/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/hu/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/id/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/id/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/id/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/id/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/id/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/it/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/it/System.ServiceModel.DomainServices.Client.Web.resources.dll
/FishingPoint/Bin/Debug/it/System.ServiceModel.DomainServices.Client.resources.dll
/FishingPoint/Bin/Debug/it/System.ServiceModel.Web.Extensions.resources.dll
/FishingPoint/Bin/Debug/it/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/it/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/it/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/it/System.Windows.Controls.Navigation.resources.dll
/FishingPoint/Bin/Debug/it/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/it/System.Windows.Data.resources.dll
/FishingPoint/Bin/Debug/ja/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/ja/System.ServiceModel.DomainServices.Client.Web.resources.dll
/FishingPoint/Bin/Debug/ja/System.ServiceModel.DomainServices.Client.resources.dll
/FishingPoint/Bin/Debug/ja/System.ServiceModel.Web.Extensions.resources.dll
/FishingPoint/Bin/Debug/ja/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/ja/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/ja/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/ja/System.Windows.Controls.Navigation.resources.dll
/FishingPoint/Bin/Debug/ja/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/ja/System.Windows.Data.resources.dll
/FishingPoint/Bin/Debug/ko/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/ko/System.ServiceModel.DomainServices.Client.Web.resources.dll
/FishingPoint/Bin/Debug/ko/System.ServiceModel.DomainServices.Client.resources.dll
/FishingPoint/Bin/Debug/ko/System.ServiceModel.Web.Extensions.resources.dll
/FishingPoint/Bin/Debug/ko/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/ko/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/ko/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/ko/System.Windows.Controls.Navigation.resources.dll
/FishingPoint/Bin/Debug/ko/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/ko/System.Windows.Data.resources.dll
/FishingPoint/Bin/Debug/lt/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/lt/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/lt/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/lt/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/lt/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/lv/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/lv/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/lv/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/lv/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/lv/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/ms/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/ms/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/ms/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/ms/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/ms/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/nl/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/nl/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/nl/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/nl/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/nl/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/no/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/no/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/no/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/no/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/no/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/pl/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/pl/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/pl/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/pl/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/pl/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/pt-BR/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/pt-BR/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/pt-BR/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/pt-BR/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/pt-BR/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/pt/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/pt/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/pt/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/pt/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/pt/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/ro/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/ro/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/ro/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/ro/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/ro/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/ru/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/ru/System.ServiceModel.DomainServices.Client.Web.resources.dll
/FishingPoint/Bin/Debug/ru/System.ServiceModel.DomainServices.Client.resources.dll
/FishingPoint/Bin/Debug/ru/System.ServiceModel.Web.Extensions.resources.dll
/FishingPoint/Bin/Debug/ru/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/ru/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/ru/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/ru/System.Windows.Controls.Navigation.resources.dll
/FishingPoint/Bin/Debug/ru/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/ru/System.Windows.Data.resources.dll
/FishingPoint/Bin/Debug/sk/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/sk/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/sk/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/sk/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/sk/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/sl/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/sl/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/sl/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/sl/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/sl/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/sr-Cyrl-CS/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/sr-Cyrl-CS/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/sr-Cyrl-CS/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/sr-Cyrl-CS/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/sr-Cyrl-CS/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/sr-Latn-CS/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/sr-Latn-CS/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/sr-Latn-CS/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/sr-Latn-CS/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/sr-Latn-CS/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/sv/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/sv/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/sv/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/sv/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/sv/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/th/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/th/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/th/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/th/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/th/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/tr/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/tr/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/tr/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/tr/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/tr/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/uk/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/uk/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/uk/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/uk/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/uk/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/vi/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/vi/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/vi/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/vi/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/vi/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/zh-Hans/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/zh-Hans/System.ServiceModel.DomainServices.Client.Web.resources.dll
/FishingPoint/Bin/Debug/zh-Hans/System.ServiceModel.DomainServices.Client.resources.dll
/FishingPoint/Bin/Debug/zh-Hans/System.ServiceModel.Web.Extensions.resources.dll
/FishingPoint/Bin/Debug/zh-Hans/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/zh-Hans/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/zh-Hans/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/zh-Hans/System.Windows.Controls.Navigation.resources.dll
/FishingPoint/Bin/Debug/zh-Hans/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/zh-Hans/System.Windows.Data.resources.dll
/FishingPoint/Bin/Debug/zh-Hant/System.ComponentModel.DataAnnotations.resources.dll
/FishingPoint/Bin/Debug/zh-Hant/System.ServiceModel.DomainServices.Client.Web.resources.dll
/FishingPoint/Bin/Debug/zh-Hant/System.ServiceModel.DomainServices.Client.resources.dll
/FishingPoint/Bin/Debug/zh-Hant/System.ServiceModel.Web.Extensions.resources.dll
/FishingPoint/Bin/Debug/zh-Hant/System.Windows.Controls.Data.Input.resources.dll
/FishingPoint/Bin/Debug/zh-Hant/System.Windows.Controls.Data.resources.dll
/FishingPoint/Bin/Debug/zh-Hant/System.Windows.Controls.Input.resources.dll
/FishingPoint/Bin/Debug/zh-Hant/System.Windows.Controls.Navigation.resources.dll
/FishingPoint/Bin/Debug/zh-Hant/System.Windows.Controls.resources.dll
/FishingPoint/Bin/Debug/zh-Hant/System.Windows.Data.resources.dll
/FishingPoint/obj/Debug/App.g.cs
/FishingPoint/obj/Debug/App.g.i.cs
/FishingPoint/obj/Debug/Controls/Fisherman.g.cs
/FishingPoint/obj/Debug/Controls/Fisherman.g.i.cs
/FishingPoint/obj/Debug/Controls/FishingPointIcon.g.cs
/FishingPoint/obj/Debug/Controls/FishingPointIcon.g.i.cs
/FishingPoint/obj/Debug/Controls/PlantTreeCursorControl.g.i.cs
/FishingPoint/obj/Debug/Controls/PushPinCursorControl.g.cs
/FishingPoint/obj/Debug/Controls/PushPinCursorControl.g.i.cs
/FishingPoint/obj/Debug/Controls/SearchIcon.g.cs
/FishingPoint/obj/Debug/Controls/SearchIcon.g.i.cs
/FishingPoint/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/FishingPoint/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FishingPoint/obj/Debug/FishingPoint.Assets.Resources.ApplicationStrings.resources
/FishingPoint/obj/Debug/FishingPoint.Assets.Resources.ErrorResources.resources
/FishingPoint/obj/Debug/FishingPoint.Assets.Resources.SecurityQuestions.resources
/FishingPoint/obj/Debug/FishingPoint.RiaClientRefs.txt
/FishingPoint/obj/Debug/FishingPoint.RiaFiles.txt
/FishingPoint/obj/Debug/FishingPoint.RiaLinks.txt
/FishingPoint/obj/Debug/FishingPoint.RiaServerRefs.txt
/FishingPoint/obj/Debug/FishingPoint.RiaSourceFiles.txt
/FishingPoint/obj/Debug/FishingPoint.Web.Resources.RegistrationDataResources.resources
/FishingPoint/obj/Debug/FishingPoint.Web.Resources.ValidationErrorResources.resources
/FishingPoint/obj/Debug/FishingPoint.csproj.FileListAbsolute.txt
/FishingPoint/obj/Debug/FishingPoint.csproj.GenerateResource.Cache
/FishingPoint/obj/Debug/FishingPoint.csprojResolveAssemblyReference.cache
/FishingPoint/obj/Debug/FishingPoint.dll
/FishingPoint/obj/Debug/FishingPoint.g.resources
/FishingPoint/obj/Debug/FishingPoint.pdb
/FishingPoint/obj/Debug/LiveIntellisense/FishingPoint.RiaClientRefs.txt
/FishingPoint/obj/Debug/LiveIntellisense/FishingPoint.RiaFiles.txt
/FishingPoint/obj/Debug/LiveIntellisense/FishingPoint.RiaLinks.txt
/FishingPoint/obj/Debug/LiveIntellisense/FishingPoint.RiaServerRefs.txt
/FishingPoint/obj/Debug/LiveIntellisense/FishingPoint.RiaSourceFiles.txt
/FishingPoint/obj/Debug/LiveIntellisense/Resources/FishingPoint.Assets.Resources.ApplicationStrings.resources
/FishingPoint/obj/Debug/LiveIntellisense/Resources/FishingPoint.Assets.Resources.ErrorResources.resources
/FishingPoint/obj/Debug/LiveIntellisense/Resources/FishingPoint.Assets.Resources.SecurityQuestions.resources
/FishingPoint/obj/Debug/LiveIntellisense/Sources/FishingPoint.Web.g.cs
/FishingPoint/obj/Debug/LiveIntellisense/TempPE/FishingPoint.Web.dll
/FishingPoint/obj/Debug/LiveIntellisense/TempPE/FishingPoint.Web.pdb
/FishingPoint/obj/Debug/LiveIntellisense/TempPE/FishingPoint.g.dll
/FishingPoint/obj/Debug/MainPage.g.cs
/FishingPoint/obj/Debug/MainPage.g.i.cs
/FishingPoint/obj/Debug/TempPE/Assets.Resources.ApplicationStrings.Designer.cs.dll
/FishingPoint/obj/Debug/TempPE/Assets.Resources.ErrorResources.Designer.cs.dll
/FishingPoint/obj/Debug/TempPE/Assets.Resources.SecurityQuestions.Designer.cs.dll
/FishingPoint/obj/Debug/TempPE/CodeGeneration.AllDataClassesGenerator.cs.dll
/FishingPoint/obj/Debug/TempPE/CodeGeneration.MessagesGeneratorExecute.cs.dll
/FishingPoint/obj/Debug/TempPE/Web.Resources.RegistrationDataResources.Designer.cs.dll
/FishingPoint/obj/Debug/TempPE/Web.Resources.ValidationErrorResources.Designer.cs.dll
/FishingPoint/obj/Debug/Views/About.g.cs
/FishingPoint/obj/Debug/Views/About.g.i.cs
/FishingPoint/obj/Debug/Views/ErrorMessageWindow.g.cs
/FishingPoint/obj/Debug/Views/ErrorMessageWindow.g.i.cs
/FishingPoint/obj/Debug/Views/ErrorWindow.g.cs
/FishingPoint/obj/Debug/Views/ErrorWindow.g.i.cs
/FishingPoint/obj/Debug/Views/Home.g.cs
/FishingPoint/obj/Debug/Views/Home.g.i.cs
/FishingPoint/obj/Debug/Views/Login/LoginForm.g.cs
/FishingPoint/obj/Debug/Views/Login/LoginForm.g.i.cs
/FishingPoint/obj/Debug/Views/Login/LoginRegistrationWindow.g.cs
/FishingPoint/obj/Debug/Views/Login/LoginRegistrationWindow.g.i.cs
/FishingPoint/obj/Debug/Views/Login/LoginStatus.g.cs
/FishingPoint/obj/Debug/Views/Login/LoginStatus.g.i.cs
/FishingPoint/obj/Debug/Views/Login/RegistrationForm.g.cs
/FishingPoint/obj/Debug/Views/Login/RegistrationForm.g.i.cs
/FishingPoint/obj/Debug/Views/MapViewControl.g.cs
/FishingPoint/obj/Debug/Views/MapViewControl.g.i.cs
/FishingPoint/obj/Debug/Views/Search.g.cs
/FishingPoint/obj/Debug/Views/Search.g.i.cs
/FishingPoint/obj/Debug/XapCacheFile.xml
